//- Card Mixin
mixin card(post)
    .card
        img(src=post.image_url, alt=post.title)
        .content
            h6= post.title
            .inner-section
                img.inner-section-img(src=post.image_url, alt=post.title)
                p= post.username